body {

    font-family: arial, "Helvetica Neue", Helvetica, "sans-serif";
    line-height: 120%;
}

.container {
    margin: 0 auto;
    border-width: 5px;
    border-style: double;
    color: red;
    text-align: center;
}


h1 {
    color: red;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

p {
    color: blue;
}